/*http://angrytools.com/gradient/*/
/* https://codepen.io/themalni/full/jVLmQR/ */

body{
 background-color: #6441a4;
 font-family: 'Play', sans-serif; 
 margin: 0;
}

.container{
  text-align: center;
  margin: auto;
  color: white;
  width: 100%;
}


.well{
  max-width: 1000px;
  width: 90%;
  margin: auto;
 /* background-color: green;*/
}

#channels_container{
  margin-bottom: 50px;
  margin:auto;
  list-style:none;
  padding-left:0 !important;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex !important;   
  flex-wrap: wrap;
}

.single_channel{
  width: 32%;
  margin-right: 2%;
  float:left;
  min-height: 250px;
  margin-top: 2%;
  text-align: left;
  border-style: solid;
  border-color: #7d5bbe;
  border-width: thick;
  box-sizing: border-box;
  position: relative;
  background-color: #7d5bbe;
}

.single_channel:nth-child(3n) {
    margin-right: 0 !important;
}


.channel_name{
  color:white;
  word-wrap: break-word;
}

a{
  color: #D1B367;
  color: white;
}
a:link {
    text-decoration: none;
}

.channel_img{
    width: 100%;
    height: 80%;
}

.centerImage{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single_channel-header{
  background-color: #7d5bbe;
  margin-top: -1%;
  min-height: 20%;
  position: relative;
}

.profile_img , img{
  width: 40px;
  height: 40px;
}

.channel_name{
  margin-left: 5px;
}

.channel_name, .status_offline{
 position: absolute;
 top: 20px;
}


#nav{
 color: blue;
}

button{
  color: white;
  float:left;
  font-size: 14px;
  width: 33.333333%;
  padding: 10px 0px;
  background-color: #7d5bbe;
  cursor:pointer;
}

.online>.meta>p{
  color: green;
}

.status_offline{
  color: red;
  right: 0;
}

.invalidUser>p{
  color: gray;
}

.cover-overlay{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 80%;
  background: #7d5bbe;
}


  /* tablets?*/
@media only screen and (max-width: 830px) {
  .single_channel{
    width: 49%;
  } 
  
  .single_channel:nth-child(2n) {
    margin-right: 0;
  }
}


@media only screen and (max-width: 550px) {
  .single_channel{
    width: 100%;
    max-height: 100px;
    margin-right: 0;
  }
}



